/* ----------Couleurs background*/
$couleur__background--body: rgb(245, 242, 216);
$couleur__background--small: rgb(167, 166, 160);
$couleur__background--nav: rgb(33, 105, 0);



/* ----------Couleurs titres*/
$couleur__h1: rgb(33, 105, 0);



/* ----------Couleurs nav*/
$couleur__nav: white;



/* ----------Couleurs simple*/
$couleur__small: grey;
$color__background-pre: rgb(215, 216, 215);
$color__border-abbr: grey;
$color__background-ins:lightgrey;




/* ----------Couleurs liens*/
$couleur__link: rgb(33, 105, 0);
$couleur__link--visited: rgb(33, 105, 0);
$couleur__link--hover: limegreen;


/* ----------Couleurs boutons*/
$color__border--button: #999;
$color__border--button--hover: #aaa;
$color__border--button--focus: #888;

$color__background--button: rgb(33, 105, 0);


/* ----------Couleurs input*/
$color__text-input:#444;

$color__border-input: #999;

$color__text-input-focus:#888;


/* ----------Couleurs ligne horizontale*/
$color__background-hr: rgb(154, 201, 154);