/* ----------Couleurs background*/
$couleur__background--body: rgb(245, 242, 216);
$couleur__background--small: rgb(167, 166, 160);



/* ----------Couleurs titres*/
$couleur__h1: rgb(33, 105, 0);




/* ----------Couleurs texte*/
$couleur__small: lightgrey;




/* ----------Couleurs liens*/
$couleur__link: red;
$couleur__link--visited: blue;
$couleur__link--hover: green;