$police__main :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$police__titre-principal: Verdana, Geneva, Tahoma, sans-serif;
$police__titre-secondaire: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;