$police__main : Arial, sans-serif;
$police__titre-principal: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$police__titre-secondaire: Verdana, Geneva, Tahoma, sans-serif;




/* ----------Police simple*/
$font__pre:'Courier New', Courier, monospace;
$font__code: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

$font__line-height-pre: .8em;