

.site__header>*{
   // text-align: center;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   border-bottom: 2px solid green;
   margin: 25px;
   gap: 15px;
   align-items: center;


   .site__title-info{
      display: flex;
      align-items: center;
      gap: 15px;
      margin-bottom: 25px;
   }

   .site__title{
      font-size: 100px;
      margin: 0 ;
   }

   .site__description{
      font-size: 20px;
      max-width: 215px;
   }
   

      .logo__media{
         margin: 15px 0;
      }
   }



.wp-block-search__inside-wrapper{
   border: none;
}


@media screen and (max-width: 950px) {

   .site__header>*{
     
      margin-right: 50px;

  
   }
}
@media screen and (max-width: 850px) {

   .site__header>*{
      flex-direction: column;
     
      align-items: flex-start;

      margin-right: 50px;

      .site__description{
         max-width: none;
         margin: 0;
      }
   }
   .site__header__widget{
      margin-left: auto;
 }
}