.site__footer{
    display: flex;
    justify-content: space-around;
    gap: 25px;
    padding: 30px 50px ;
    background-color: $couleur__principale;
}

.site__footer div{
    //width: 20%;
    flex-basis: 30%;
    //height: 200px;
   // border: 1px solid red;
}

 h3{
    color: $couleur__nav;
    border-bottom:2px solid #fff;
    padding-bottom:2px;
    max-width: fit-content;
}
.menu-utiles-container ul{
    margin: 0;
    padding: 0;
}

.site__footer .footer__links{
    list-style-type: none; 
    padding: 10px 0;
    margin: 0;
}

.site__footer .footer__links a{
    color: $couleur__nav;
   
}

.site__footer .footer__links a:hover{
    border-bottom:2px solid #fff;
    padding-bottom:2px;
    max-width: fit-content;
   
}


.spotify{
    align-items: center;
}

