.liste{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}

.liste__cours{
    box-sizing: border-box;
    flex: 0 1 calc(50% - 15px);
    border: 1px solid green;
    border-radius: 10px;
    padding: 25px;
}