
.site__menu>*+*{
    margin-bottom: 50px;
}

.site__menu h2{
    color:  $couleur__principale;
}


.menu__aside{

    .menu{
        list-style-type: none;
        margin: 0 10px 0 0;
        padding: 0;
    }

    .menu-item{
        padding: 10px 0;
    }
}

.site__sidebar{
    .calendrier{
        margin-right: 20px;
    }

    .wp-calendar-table thead th{
        background-color:  $couleur__principale;
        color: #fff;
    }

    .wp-calendar-table tbody{
        background-color:#fff;
        
    }


    .aside-pinterest{
        margin: 0 20px 0 0;
    }

}

