body{
    background-color: $couleur__background--body;
    margin: 0;
}

.site{
    font-family: $police__main;
    margin: $margin__50px;
}

p{
    line-height: $line-height__texte;
    margin-bottom: $margin__50px;
    max-width: $max-width__texte;
}


.trace{
    background-color: black;
    color: greenyellow;
}